.topo ion-toolbar{
    --background: #9F87BB;
    color:#333;
    text-align: center;
    padding-top: 10%; 
}

.topo ion-title{
    font-size: 1.3em;
    font-weight: bold;
}

ion-content{
    --background: #FFF url('../../../assets/img/fundo-pg.png') no-repeat center / cover;
    text-align: center;
}

.corpo img{
    width: 70%;
    margin-top: 10%;
}

.corpo p{
    text-align: justify;
    padding: 0 10%;
    font-size: .8em;
}

.iconSocial img{
    width: 50%;
    margin: 15% 0;
}