<ion-header class="topo">
    <ion-toolbar>
        <ion-title>Sobre KiBeleza</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="corpo">

    <img src="../../../assets/img/logo-kibeleza.svg" alt="KiBeleza">
    <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
        survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing.
    </p>

    <ion-slides pager>

        <ion-slide *ngFor="let inst of instas; let i = index">
            <img src="{{instas[i].node.thumbnail_resources[4].src}}">
        </ion-slide>

    </ion-slides>



    <ion-row class="iconSocial">
        <ion-col size="3">
            <img src="../../../assets/img/icon-face.svg" alt="">
        </ion-col>
        <ion-col size="3">
            <img src="../../../assets/img/icon-insta.svg" alt="">
        </ion-col>
        <ion-col size="3">
            <img src="../../../assets/img/icon-twitter.svg" alt="">
        </ion-col>
        <ion-col size="3">
            <img src="../../../assets/img/icon-link.svg" alt="">
        </ion-col>
    </ion-row>


</ion-content>