header{
    background-color: #3b3b3d;
    
 }
 @import url('https://fonts.googleapis.com/css?family=Dosis|Titillium+web');
 
 body{
     font-size: 16px;
     font-family: 'Dosis', sans-serif;
       background-color: #3b3b3d;
 
 }
 .site1{
     max-width: 1200px;
     width: 100%;
     margin: 0 auto;
 }
 
.topo h1{            
     text-indent: -9999px;  
     flex-direction: column-reverse;
    
}
.topo{
    display: flex;
    justify-content: center;
    align-content: center;
   
}
.topo nav ul{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    
}
.topo nav ul li{
    display: block;
    padding: 10px 35px;
    margin: 0 5px;
    

}
.topo nav ul li:hover{
    background: #f6b331;
    
    height: 12px;
    
    
    
}
.topo nav ul li a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-decoration: none;
    color: #ffffff;
    
}

.ar{
/* color: black;
font-size: 18px;
text-align: justify; */
margin-left: 352px;
margin-top: 100px; 

}

.banner{
    margin-top: 3px;
}
.fotos{
    margin-left: 150px;
    margin-top: 100px;
}
.tabela{
    margin-top: 100px;
    margin-left: 350px;
}
.texto{
    margin-top: -25%;
    margin-left: 1100px;
}
.rodape{
    background: #2d2d2e; 
    text-align: center;
    padding: 1% 0;
    margin-top: 400px;
}
.rodape img{
    height: 15%;
    width: 15%;
   
}
.rodape p{
    color: #909090;
    padding: 1% 0;
    font-size: 12px;
    font-family: 'Titillium Web',sans-serif;
}
.facebook{
    background: url(../img/icon/fb.svg) no-repeat;
}
.twitter{
    background: url(../img/icon/twitter2.svg) no-repeat;
}
.instagram{
    background: url(../img/icon/insta.svg) no-repeat;
}
.icones-redes-sociais li{
    display: inline-block;
}
.icones-redes-sociais a{
    width: 32px;
    height: 32px;
    display: block;
    text-indent: -99999px;
}
.site4{
    max-width: 1920px;
    width: 100%;
   
}
.direitos{
    color: #000000;
    text-align: center;
    padding: 1% 0;
    background-color: #f6b331;
   
}
.logo {
    margin-left: 10px;
    margin-top: -35px;
}
.historia{
    margin-top: 450px;
}
.fle{
    margin-left: 200px;
    margin-top: 60px;
}
.bigode {
    margin-left: 480px;
    margin-top: 80px;
    
}
.banner{
    width: 100%;
    height: 100px;
}
.galeria{
    padding: 2% 0;
    display: flex;
    justify-content: space-between;
    overflow: auto;
    max-width: 1200px;
    margin-left: 350px;

  
}
.galeria img{
    margin: 0 50%;
    margin-top: 20%;
    width: 200px;
    height: auto;
     /* border-radius: 10%;        */
}
.insta{
    margin-left: 47%;
    margin-top: -10%;
    z-index: 3;
    position: absolute;
}
.noivo {
    margin-left: 170px;
    margin-top: 10%;
}
#subirTopo {
    /* text-decoration: none; */
    /* background: rgba(30,156,161,.9); */
    bottom: -480px;
    right: -200px;
    /* color: #fff; */
    /* text-align: center;
    cursor: pointer; */
    /* padding: 15px; */        
    /* text-transform: uppercase; */
    position: fixed;        
    opacity: .8;
    width: 600px;
    height: 600px;
    }
    
    #subirTopo:hover {
    opacity:1;
    }