@import url('https://fonts.googleapis.com/css?family=Dosis|Titillium+Web');

body{
    background: #ede1fa;
    font-size: 16px;
    font-family: 'Dosis' , sans-serif;
}
h1,h2,h3{
    font-family: 'Titillium Web',sans-serif;
}
header{
    background:#132129;
}
.site{ 
    max-width: 1200px;/*LArgura maxima do conteudo do site*/
    width: 100%;
    margin: 0 auto;
}
 
    .topo h1{
        background:url(../img/logo-kibeleza.svg)no-repeat;
        width: 280px;
        height: 90px;
        text-indent: -9999px;

    } 
    .topo{
          display: flex;
          justify-content: space-around;
          align-items: center;
      }
    .topo nav ul{
        display: flex;
        justify-content: space-between;
    }
    .topo nav ul li{
        display: block;
        padding: 26px 30px;
        margin: 0 15px;
    }
    .topo nav ul li:hover{
        background:rgba(159,135,187,0.50);
    }
    .topo nav ul li a{
        font-size: 18px;
        text-decoration: none;
        color: #ffffff;
      
    }
    .icon{
        display: flex;
        margin-bottom: 10px;
        padding: 20px;
        align-items: baseline;
    }
    .iconHome{
        background:url(../img/icon/home.svg)no-repeat center;
    }
    .iconSobre{
        background:url(../img/icon/sobre.svg)no-repeat center; 
    }
    .iconServico{
        background:url(../img/icon/servico.svg)no-repeat center;
    }
    .iconBlog{
        background:url(../img/icon/blog.svg)no-repeat center;
    }
    .iconContato{
        background:url(../img/icon/email.svg)no-repeat center;
    }
    .banner img{
        width: 2% 0;
    }

    .sobre{
        margin: 2% 0;
    }

    .sobre div{ 
        display: flex;
        justify-content: space-around;
    }
    .sobre div article{
        width: 40%;
    }
    .sobre div article:nth-child(1){
        margin-left: 12%;
    }
    .sobre h2{
            font-size: 36px;
            font-weight: bold;
        }
    .sobre p{ 
        font-size: 16px;
        text-align: justify;
        border: solid 4px #000000;
        padding: 5% 20% 5% 5%;
        line-height: 25px;
    }
    .sobre div article img{
        width: 100%;
        position: relative;
        margin-left: -140px;
        margin-top: 80px;
    }
    .servico{ 
        background: rgba(159,135,187,0.70);
        padding: 40px;
        text-align: center;
    }
    .servico h2{
        background:  rgba(239,239,239,1.00);
        padding: 1%;
        width: 100px;
        margin: 0 auto;
        border-radius: 5px 5px 0 0;
        color:#9f87bb;
        font-weight: bold;
    }
    .servico hr{
        height: 3px;
        background: rgba(239,239,239,1.00);
        position: relative;
        margin-top: -3px;
        border: none;
    }
    .servicoUm{
        display: flex;
        justify-content: space-between;
    }
    .servicoUm article{
        width: 23%;
        background: #ffffff;
        padding: 3px;
        border-radius: 5px;
        box-shadow: 1px 1px 5px 1px #333;
    }
    .servicoUm article img{
        width:100%;
        border-radius:5px 5px 0 0;
    }
    .servicoUm article h3{
        color: #9f87bb;
        padding: 3% 0;
    }
    .servicoUm article p{
        text-align: justify;
        padding-bottom: 20px;
        font-size: 12px;
    }
    .servicoUm article a{
        display: block;
        width: 120px;
        height: 30px;
        margin: 0 auto;
        line-height: 28px;
        text-decoration: none;
        background: #9f87bb;
        color:#ffffff;
        border-radius: 5px;
    }
    .servicoUm article a:hover{
        background:#ccc;
        color: #9f87bb;
    }
    .equipe{
        padding: 40px;
        text-align: center;
    }    
    .equipe h2{
        background:  #9f87bb;
        padding: 1%;
        width: 100px;
        margin: 0 auto;
        border-radius: 5px 5px 0 0;
        color: #ffffff;
        font-weight: bold;
    }
    .equipe hr{
        height: 3px;
        background: #9f87bb;
        position: relative;
        margin-top: -3px;
        border: none;
    }
    .equipeUm{
        display: flex;
        justify-content: space-between;
    }
    .equipeUm article img{
        border-radius: 90%
        
    }
    .depoimento{
        background:rgba(159,135,187,.7);
        padding: 2% 0;
        text-align: center;
    } 
    
    .depoimento article{
        background: #f8f8f8;
        padding: 50px 100px;
        border-radius: 5px;
        border-top: solid 40px #333;
    }
    .depoimento p{
        color: #9f87bb;
        font-size: 20px;
        line-height: 40px;
    }
    .depoimento h2{
        color: #9f87bb;
        text-align: right;
        font-weight: bold;
        font-size: 12px;
        padding: 50px 0 20px 0;
    }
    .galeria{
        padding: 2% 0;
        display: flex;
        justify-content:space-between;
        overflow:hidden; 
    }
    .galeria img{
        margin: 0 4px
    }
    .rodape{
        background: #333;
        border-top:solid 10px rgba(159,135,187,.7);
        text-align: center;
        padding: 2% 0;
    }
    .rodape img{
        height: 25%;
        width: 25%;
    }
    .rodape p{
        color: #909090;
        padding: 2% 0;
        font-size: 12px;
        font-family: 'Titillium Web',sans-serif;
    }
    .facebook{
        background: url(../img/icon/face.svg) no-repeat;
    }
    .twitter{
        background: url(../img/icon/twitter.svg) no-repeat;
    }
    .instagram{
        background: url(../img/icon/instan.svg) no-repeat;
    }
    .icones-redes-sociais li{
        display: inline-block;
    }
    .icones-redes-sociais a{
        width: 32px;
        height: 32px;
        display: block;
        text-indent: -99999px;
    }
    .direitos{
        /* color: #909090; */
        text-align: center;
        background-color: #000000;
        padding: 1% 0;
    }


    


    
     

