main h1{ 
    font-size: 60px;
    font-family: sans-serif;
    color: #ffffff;
    background-color:#000000;
    text-align: center;
    margin: 0%;
}
main h2{
    font-family: sans-serif;
    font-size: 35px;
    line-height: 2.0;
    color:#000000;
}
footer{
    color:#ffffff;
    background-color: #000000;
    text-align: center;
    padding: 20px;
    margin: 0%;
}
main p{
       font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
main ul{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style-type: disc;
}
main blockquote{
    font-size: 25px;
    text-align:center;
    line-height: 2.0;
}
main div{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}
main div img{
    width: 213px;
    height: 250px;
    margin-left: 395px;
    border-style: solid;
    border-width: 5px;
    line-height: 2.0px;
    border-radius: 25px;
}
