h1{ 
    font-size: 60px;
    font-family: sans-serif;
    color: blueviolet;
    background-color: orange;
    text-align: center;
    margin: 0%;
}
h2{
    font-family: sans-serif;
    font-size: 45px;

}
footer{
    color: blueviolet;
    background-color: orange;
    text-align: center;
    padding: 20px;
    margin: 0%;
}