header{
    background-color: black;
    width: 1900px;
    height: 150px;
    
 }
 @import url('https://fonts.googleapis.com/css?family=Dosis|Titillium+web');
 
 body{
     font-size: 16px;
     font-family: 'Dosis', sans-serif;
       background-color: #3b3b3d;
 
 }
 .site1{
     max-width: 1200px;
     width: 100%;
     margin: 0 auto;
     margin-top: -20%;
 }
 
 
 .topo h1{            
     text-indent: -9999px;  
     flex-direction: column-reverse;
     z-index: 3;
     position: absolute;
 }
 
 .topo{
     display: flex;
     justify-content: center;
     align-content: center;
     z-index: 3;
     position: absolute;
     margin-left: 550px;
     margin-top: 55px;
    
     
 }
 .topo nav ul{
     display: flex;
     justify-content: space-between;
     
     
     
 }
 .topo nav ul li{
     display: block;
     padding: 10px 35px;
     margin: 0 5px; 
    
 }
 .topo nav ul li:hover{
     background: #ffac1f;
    
     height: 15px;   
     
 }
 .topo nav ul li a{
     font-family: Arial, Helvetica, sans-serif;
     font-size: 18px;
     text-decoration: none;
     color: #ffffff;
     
     
 }
.logo{
    margin-top: -5%;
}
.barbeiros{
    margin-top: -6%;
    z-index: -99999;
    position: absolute;
}
.agendamento img{
    z-index: -99999;
    margin-top: 1%;
    
}

.banner{
    width: 400px;
    height: auto;
    z-index: 99999;
    position: absolute;
    margin-top: -23%;
    margin-left: 750px;
  
    
}

.banner1{
    width: 1200px;
    height: auto;
    z-index: 99999;
    position: absolute;
    margin-top: -23%;
    margin-left: 353px;
  
    
}
.rodape p{
    background-color: black;
    text-align: center;
    padding: 1% 0;
    color: #909090;
    padding: 1% 0;
    font-size: 12px;
    font-family: 'Titillium Web',sans-serif;
}
.rodape{
    margin-top: 59%;
}

#subirTopo {
    /* text-decoration: none; */
    /* background: rgba(30,156,161,.9); */
    bottom: 1px;
    right: 10px;
    /* color: #fff; */
    /* text-align: center;
    cursor: pointer; */
    /* padding: 15px; */        
    /* text-transform: uppercase; */
    position: fixed;        
    opacity: .8;
    width: 100px;
    height: 100px;
    }
    
    #subirTopo:hover {
    opacity:1;
    }

    .duvida{
        margin-top: 10%;
        margin-left: 15%;
    }
    .mapa{
        width: 1900px;
    margin-top: 15%;
    }
    .contato{
        display: flex;
        justify-content: space-between;
        
    }
    .contato article{
        width: 45%;
        margin: 2% 0;
    }
    .contato h2{
        font-size: 1.5em;
        color: #262626;
        font-weight: bold;
    }
    .form{padding: 2%;}
    
    .form input[type=text],
    .form input[type=tel],
    .form input[type=email],
    .form textarea{
        background: #9f87bb;
        border: solid thin #333;
        width: 100%;
        padding: 1%;
        color: #fff;
        margin-bottom: 2%;
        border-radius: 5px;
    }
    .form textarea{resize: none;}
    
    .form input[type=submit]{
        float: right;
        margin-right: -13px;
        border-radius: 5px;
        background: #262626;
        color: #F8F8F8;
        border: solid .5px #909090;
        padding: 2% 8%;
        cursor: pointer;
        font-size: 0.8em;
    }
    .form input[type=submit]:hover{
        background: #F8F8F8;
        color: #262626;
        border: solid .5px #262626;
    }
    
    .contato ul li{
        margin-bottom: 2%;
        margin-top: 2%;
    }